<!DOCTYPE html>
<html lang='cs'>
<head>
	<title> Cenik sluzeb </title>
</head>
<body>
<h1> Cenik sluzeb</h1>
<nav>
<table id=cenik border=0>
	<tr id="zapati">
		<td width=350> id - nazev </td> <td width=100> cena </td> <td width=100> cena s DPH</td>
	</tr>
    {% for pol in cenik %}
	<tr>
    <td class=nazev> <a href="./{{ pol.kat_id }}"> {{ pol.kat_id }} - {{ pol.jmeno }} </a> </td><td class="cena"> {{ pol.cena }},- </td><td class="cena_dph"> {{ pol.cena_dph }},- </td>
	</tr>
    {% endfor %}
</table>

</nav>

<div id=detail>
<h3> {{ detail.kat_id }} - {{ detail.jmeno }} </h3>
<pre>
{{ detail.popis }}
</pre>
</div>

</body>
</html>

